@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900');

html, body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, span, form, fieldset, input, select, label, textarea, table, caption, thead, tfoot, tbody, tr, th, td
{margin:0;padding:0;font:15px/1.5 'Noto Sans KR','Roboto','Malgun Gothic',굴림,Gulim,돋움,Dotum, Sans-serif;color:#272727;-webkit-text-size-adjust:none;font-smoothing: antialiased;-webkit-font-smoothing: antialiased;}
b, span, strong, input, a, button{font-size:inherit;font-family:inherit;color:inherit}
article, aside, dialog, footer, header, section, footer, nav, figure, hgroup, details, summary, figure, figcaption {display: block;}
cite{display:inline}
html, body {height:100%;}
body {overflow-x:hidden;margin:0px;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
img{border:0;max-width:100%}
label, input, textarea, select{vertical-align:middle}
ol, ul{list-style:none;}
table{border-collapse:collapse;table-layout:fixed;}
fieldset{border:none}
.skip, hr, legend{position:absolute;left:-1000%;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;}
button{margin:0;padding:0;border:none;background:none;cursor:pointer;display:inline-block;}

.dim {position:fixed;top:0;left:0;width:100%;height:100%;background:#000;visibility:hidden;opacity:0; }
.pcIndex.gnb_on .dim,
.dim.on {visibility:visible; opacity:0.6; z-index:900;}


/* 레이어팝업 */
.layerpop_wrap{width: 100%; height: 100%; position: fixed; left: 0; top: 0; background-color: rgba(0,0,0,0.7); z-index: 9999; display: none;}
.layerpop_wrap .layercont{width: 200px; height: 200px; background-color: #fff; position: absolute;}

.layerpop_wrap.Bottom .layercont{width: 100%; height: 300px; bottom: -100%; transition: all 0.3s; -webkit-transition: all 0.3s;}
.layerpop_wrap.Bottom.on .layercont{bottom:0;}



































